SI 330 - Final Project

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
pitching = pd.read_csv('finalproject/michigan2021softballpitching.csv')
fielding = pd.read_csv('finalproject/michigan2021softballfielding.csv')

In [18]:
pitching

,Player,ERA,W-L,GP-GS,CG,SHO,SV,IP,H,R,...,BB,SO,2B,3B,HR,AB,B/AVG,WP,HBP,BK
0,"Beaubien, Meghan",1.07,6-2,11-10,7,3,0,65.1,40,11,...,17,105,13,1,0,226,0.177,1,7,0
1,"Dennis, Chandler",84.85,0-0,1-0,0,0,0,0.1,1,4,...,3,0,0,0,0,2,0.500,0,0,0
2,"Schaefer, Sarah",0.00,0-0,1-1,0,0,0,3.0,3,0,...,0,1,0,0,0,12,0.250,0,1,0
3,"Storako, Alex",0.49,10-2,13-9,7,4,0,71.0,30,8,...,14,131,2,1,2,236,0.127,1,4,0

In [19]:
fielding

                Player    C   PO   A  E   FLD%  DP  SBA  CSB   SBA%  PB  CI
0         Blair, Lexie   13   12   0  1  0.923   0    0    0  0.000   0   0
1       Jimenez, Julia   41   26  12  3  0.927   4    0    0  0.000   0   0
2         Bump, Taylor   48   27  20  1  0.979   1    0    0  0.000   0   0
3           Allan, Lou   53   46   5  2  0.962   5    0    0  0.000   0   0
4    Rodriguez, Kaylee    0    0   0  0  0.000   0    0    0  0.000   0   0
5        Esman, Lauren    0    0   0  0  0.000   0    0    0  0.000   0   0
6      Kersten, Sierra   27   21   6  0  1.000   0    0    0  0.000   0   0
7       Carson, Hannah  238  224  12  2  0.992   2   27    8  0.771   2   0
8      LeClair, Audrey    0    0   0  0  0.000   0    0    0  0.000   0   0
9    Hoogenraad, Haley   11   11   0  0  1.000   0    0    0  0.000   0   0
10     Gonzalez, Thais    7    7   0  0  1.000   0    0    0  0.000   0   0
11  Rodriguez, Natalia   38   23  13  2  0.947   5    0    0  0.000   0   0
12    Beaubien, Meghan    9    2   7  0  1.000   0   16    5  0.762   0   0
13    Dennis, Chandler    0    0   0  0  0.000   0    0    0  0.000   0   0
14     Schaefer, Sarah    0    0   0  0  0.000   0    1    0  1.000   0   0
15       Storako, Alex    4    0   4  0  1.000   0   13    4  0.765   0   0
16         Tholl, Keke   14   13   1  0  1.000   0    3    1  0.750   0   0
17          Voss, Lexi    7    7   0  0  1.000   0    0    0  0.000   0   0